.App {
  margin: 0 auto;
  font-family: 'Red Hat Display', sans-serif;;
  text-align: center;
  max-width: 1080px;
  align-self: center;
}

.heading {
  margin: auto;
  max-width: 85%;
  height: 190px;
  background-image: linear-gradient(141deg, white 5%, rgb(162, 206, 206) 20%, rgb(121, 194, 194) 75%);
  background-color: rgb(121, 194, 194);
  border-radius: 10px;
}

.site-header {
  margin: 4px;
  font-size: 50px;
  font-family: 'Rock Salt', cursive;
}

.site-tagline {
  margin: 2px
}

.logged-in-message {
  font-size: 12px;
  margin: 2px
}

.NavBarSelectors {
  margin: auto;
  max-width: 80%;
  height: 30px;
  text-align: center;
  background-color: rgb(121, 194, 194);
  border-radius: 10px;
}

#topics {
  width: auto;
  background-color: rgb(121, 194, 194);
}

.DisplayBar {
  display: flex;
  margin: auto;
  width: 70%;
  height: 30px;
  text-align: center;
  background-color: rgb(121, 194, 194);
  border-radius: 8px;
}

.DisplayBarInfo {
  margin: auto;
  align-self: auto;
  width: 90%;
  height: 20px;
  text-align: center;
  background-color: rgb(211, 218, 219);
  border-radius: 6px;
}


label {
  padding: 10px;
}

.comment-card {
  max-width: 70%;
  margin: auto;
  background-color: rgb(204, 218, 218);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.comment_card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.comment-card__body {
  text-align: left;
  padding: 20px;
  font-size: 12px;
}

.comment-card__author {
  font-size: 12px;
}

.comment-card__date {
  font-size: 10px;
}

.comment-input {
  width: 60%;
  height: auto;
}

.ArticleCard {
  padding: 20px;
}

.articles_frame {
  display: grid;
  gap: 10px;
  direction: column;

}

.card {
  display: grid;
  grid-template-columns: 70% 15% 15%;
  background-color: rgb(230, 235, 235);
  margin: auto;
  align-self: center;
  width: 80%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.card__topic {
  text-align: left;
  text-indent: 10px;
  font-size: 10px;
}

.card__title {
  text-align: left;
  margin-left: 20px;
}

.card__votes {
  font-size: 10px;
}

.card__comment-count {
  font-size: 10px;
}

.card__date {
  text-align: left;
  text-indent: 10px;
  font-size: 10px;
}

.card__button {
  text-align: center;
  max-width: 50px
}

.card__author {
  text-align: left;
  text-indent: 30px;
  font-size: 10px;
}

.card__view_count {
  font-size: 10px;
  text-align: right;
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .NavBarSelectors {
    height: 46px;
  }
}

@media only screen and (max-width: 650px) {

  .heading {
    height: 100px;
  }
  
  .site-header {
    margin: 4px;
    font-size: 30px;
  }
  
  .site-tagline {
    font-size: smaller;
    margin: 2px
  }

  .logged-in-message {
    font-size: 8px;
  }
  
  .NavBarSelectors {
    height: 70px;
  }

  .DisplayBarInfo {
    font-size: smaller;
  }

  .sort-by_label {
    font-size: 8px;
  }

  .card__author {
    font-size: 8px;
  
  }

  .card__votes {
    font-size: 8px;
  }
  
  .card__comment-count {
    font-size: 8px;
  }

  .card__view_count {
    font-size: 8px;
  }

}

